<div class="columns">
  <div class="column is-8">
    <h1 class="title is-2 has-text-grey discussion-title"><%= @avaliation.title %></h1>
    <h3 class="subtitle is-5 has-text-grey-lighter">by <%= @avaliation.user.username %> in <%= link_to @avaliation.course.title, @avaliation.course %></h3>

    <div class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <% if avaliation_author(@avaliation) %>
        <div class="buttons">
          <%= link_to "Editar avaliação", edit_avaliation_path(@avaliation), class:'button' %>
          <%= link_to "Deletar avaliação", avaliation_path(@avaliation), method: :delete, data: { confirm: "Você tem certeza?"}, class:'button' %>
        </div>
        <% end %>

      </div>
    </div>


    <div class="content"><%= markdown(@avaliation.content) %></div>


    <h2 class="subtitle is-5 has-text-grey"><%= @avaliation.responds.count %> respostas</h2>

    <div id="discussion-replies">
      <%= render @avaliation.responds %>
    </div>

    <hr />

    <h3 class="subtitle is-3 has-text-grey">Deixe uma resposta</h3>
    <% if user_signed_in? %>
      <%= render 'responds/form' %>
    <% else %>
      <p>Para responder você precisa <%= link_to 'Login', new_user_session_path %>. Ainda não tem conta?
        <%= link_to 'Registre-se', new_user_registration_path %> aqui.</p>
    <% end %>
  </div>

  <%= render 'sidebar' %>
</div>