<div class="keep-shopping pv1 mt4 has-text-right">
  <%= link_to 'Continue comprando', courses_path, class: 'button is-primary' %>
</div>
<hr />
<section class="section">
    <%# Procura os itens que estão no carrinho, como um each do %>
  <%= render(@cart.line_items) %>

  <div class="columns">
    <div class="column">
      <%= button_to 'Limpar carrinho', @cart, method: :delete, data: { confirm: "Você tem certeza? " }, class: "button is-danger" %>
    </div>
    <div class="column total has-text-right">
      <h4 class="title is-4">
        <span class="f5 has-text-grey">Total:</span> <%= number_to_currency(@cart.total_price) %>
      </h4>
    </div>
  </div>
    <div class="columns ml20">
      <div class="column ">
      <%#FIXME: ajustar a def do botão %>
        <%= button_to 'Finalizar compra', @cart, class: "button is-dark" %>
      </div>
    </div>
  
</section>