<p id="notice"><%= notice %></p>

<p>
  <strong>Curso:</strong>
  <%#= @line_item.course %>
  <%= @line_item.product %>
</p>

<p>
  <strong>Carrinho:</strong>
  <%= @line_item.cart %>
</p>

<%= link_to 'Editar', edit_line_item_path(@line_item) %> |
<%= link_to 'Voltar', line_items_path %>
